.Button {
  position: relative;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  color: #c6e2ff;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease-out;
  cursor: pointer;
  user-select: none;
}
.Button:hover {
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
    0 0 10px rgba(202, 228, 225, 0.34), 0 0 10px rgba(30, 132, 242, 0.52),
    0 0 10px rgba(30, 132, 242, 0.92), 0 0 20px rgba(30, 132, 242, 0.78),
    0 0 20px rgba(30, 132, 242, 0.92);
}

.Button:focus {
  outline: none;
}

.Button:before {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.Button:hover:before {
  transition-delay: 0s;
  box-shadow: inset 0px 11px 8px -10px #c6e2ff,
    inset 0px -11px 8px -10px #c6e2ff;
}

.Button:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid #c6e2ff;
  border-left: 0;
  border-right: 0;
}

.Button:hover:before {
  left: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .Button {
    font-size: 1.2rem;
  }
}
