.Main {
  margin-top: -60px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.GlassContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Head {
  position: relative;
  height: 100px;
  width: 200px;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 222, 255, 0.3);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.Leg {
  margin: 0 auto;
  height: 75px;
  width: 10px;
  background-color: rgba(0, 222, 255, 0.3);
  border-bottom: 2px solid rgb(0, 155.4, 178.5);
  border-radius: 0px 0px 5px 5px;
}
.Base {
  margin: 0 auto;
  margin-top: -6px;
  width: 100px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(0, 222, 255, 0.3);
}
.Head .Liquid {
  position: absolute;
  top: -60px;
  left: 0;
  width: 200px;
  height: 220px;
  background-color: rgba(0, 222, 255, 0.3);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.Head .Liquid::after,
.Head .Liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.Head .Liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.Head .Liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

.Head:hover .Liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.Text {
  margin-top: 5rem;
  font-size: 3.5rem;
  color: #c6e2ff;
  text-transform: capitalize;
  font-family: "Vibur", cursive;
  cursor: pointer;
  transition: 0.5s color ease;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.Text:hover {
  color: #fff;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}
