.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 200;
  background: rgb(22, 23, 31);
}

.Name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Name > * {
  padding: 0 10px 0 0;
}

.Name p {
  color: #3aeb34;
  font-weight: 300;
  font-size: 18px;
  text-shadow: 0 1px 2px #3aeb34;
  letter-spacing: 2px;
}

.Name p span {
  font-weight: 600;
}
