.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 200;
  background: #141414;
}

.Text {
  text-decoration: none;
  font-size: 3rem;
  color: #c6e2ff;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  transition: 0.5s all ease;
}

.Text:hover {
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
    0 0 10px rgba(202, 228, 225, 0.34), 0 0 10px rgba(30, 132, 242, 0.52),
    0 0 10px rgba(30, 132, 242, 0.92), 0 0 10px rgba(30, 132, 242, 0.78),
    0 0 10px rgba(30, 132, 242, 0.92);
}

@media (max-width: 750px) {
  .Text {
    font-size: 1.5rem;
  }
}
