.Item a {
  text-decoration: none;
  color: #c6e2ff;
  transition: 0.5s all ease;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.Item a:hover,
.Item a:active {
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
    0 0 10px rgba(202, 228, 225, 0.34), 0 0 10px rgba(30, 132, 242, 0.52),
    0 0 10px rgba(30, 132, 242, 0.92), 0 0 20px rgba(30, 132, 242, 0.78),
    0 0 20px rgba(30, 132, 242, 0.92);
}
